.container {
  display: flex;
  gap: 24px;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90vh;
  width: 90%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }
} 